body{
    background:url(background.jpg) no-repeat;
    background-size: cover;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #name{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    nav a{
        text-decoration: none;
        color: black;
        padding: 0 1.5rem;
    }
    .info-body{
        width: 450px;
        padding: 40px;
        text-align: center;
        margin: auto;
        margin-top: 5%;
        color: white;
    }
    .profile-img{
        border-radius: 50%;
    }
    .social-icons{
        width: 450px;
        padding: 40px;
        text-align: center;
        margin: auto;
        margin-top: 5px;
    }
    .social-icons a{
        color: white;
        font-size: 50px;
    }